body {
  max-width: 2400px;
  margin: 0 auto;
  background-color: #000000;
}
.intro {
  text-align: center;
  color: #ffffff;
  font-family: Lobster;
  font-size: none;
  letter-spacing: 0;
  font-weight: 400;
}
.menu {
  padding: 0;
  margin: 0;
  box-shadow: 2px 0 8px #000000;
  z-index: 11;
  background-color: #222222;
  height: 100vh;
  position: sticky;
  top: 0;
}
.menu-logo {
  height: 225px;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 578.98px) {
  .menu-logo {
    height: 100px;
  }
}
@media screen and (min-width: 579px) and (max-width: 719.98px) {
  .menu-logo {
    height: 140px;
  }
}
.menu-logo a {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-family: Lobster;
  font-size: 42px;
  letter-spacing: 0;
  font-weight: 400;
}
.menu-logo a span {
  color: #55c8bb;
}
.menu-items {
  border-top: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
}
.menu-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-items .item {
  border-bottom: 1px solid #3d3d3d;
  height: 60px;
  position: relative;
}
.menu-items .item:last-child {
  border: none;
}
.menu-items .item a {
  display: block;
  color: #bcbcbc;
  font-family: Averta;
  font-size: 0.9em;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 25px;
  text-decoration: none;
  height: 60px;
  padding-top: 20px;
}
@media screen and (max-width: 578.98px) {
  .menu-items .item a {
    font-size: 0.9em;
  }
}
.menu-items .item a.active {
  color: #ffffff;
}
.menu-items .item a:hover {
  color: #ffffff;
}
.menu-items .item a span {
  font-weight: 600;
  color: #55c8bb;
  display: none;
}
.menu-items .item a span:before {
  content: "";
  display: inline-block;
  background-color: #55c8bb;
  width: 30px;
  height: 1px;
  margin-right: 9px;
  margin-left: 9px;
  margin-bottom: 4px;
}
.menu-items .item a span.active {
  display: inline-block !important;
}
.menu .inst {
  display: block;
  height: 150px;
  width: 100%;
  position: relative;
}
.menu .inst-block {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  transform: translate(0, -50%);
}
.menu .inst-block:hover + i {
  color: #55c8bb;
}
.menu .inst-block i {
  margin: 0 auto;
  display: block;
  color: #bcbcbc;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.menu .inst-block p {
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #bcbcbc;
  font-family: Averta;
  font-size: 0.9em;
  letter-spacing: 0;
  font-weight: 700;
  text-align: center;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.row {
  padding: 0;
  margin: 0;
}
.content {
  padding: 0;
}
.content .list-0 {
  background-color: #2b2b2b;
}
.content .list-0-box {
  height: 100%;
}
.content .list-0-box-logo {
  height: 100px;
  width: 100%;
  position: relative;
}
.content .list-0-box-logo a {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-family: Lobster;
  font-size: 42px;
  letter-spacing: 0;
  font-weight: 400;
}
.content .list-0-box-logo a span {
  color: #55c8bb;
}
.content .list-0-box-items {
  border-top: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
}
.content .list-0-box-items ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.content .list-0-box-items .item {
  border-bottom: 1px solid #3d3d3d;
  position: relative;
}
.content .list-0-box-items .item:last-child {
  border: none;
}
.content .list-0-box-items .item a {
  height: 50px;
  padding-top: 15px;
  display: block;
  color: #bcbcbc;
  font-family: Averta;
  font-size: 0.9em;
  letter-spacing: 0;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.content .list-0-box-items .item a.active {
  color: #ffffff;
}
.content .list-0-box-items .item a:hover {
  color: #ffffff;
}
.content .list-0-box-inst {
  display: block;
  width: 100%;
  height: 80px;
  cursor: pointer;
}
.content .list-0-box-inst i {
  margin: 0 auto;
  display: block;
  color: #bcbcbc;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  padding-top: 15px;
}
.content .list-0-box-inst p {
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #bcbcbc;
  font-family: Averta;
  font-size: 0.9em;
  letter-spacing: 0;
  font-weight: 700;
  text-align: center;
}
.content .list-1 {
  background-image: url(../images/main.min.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  /*background-attachment: fixed;*/
  background-color: #000000;
  position: relative;
}
@media screen and (max-width: 578.98px) {
  .content .list-1 {
    background-size: auto;
  }
}
.content .list-1-box {
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  /*    background: linear-gradient(90deg, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.7) 100%); */
}
@media screen and (max-width: 578.98px) {
  .content .list-1-box {
    height: 100%;
  }
}
.content .list-1-box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
}
.content .list-1-box .text .tx-1 {
  color: #ffffff;
  font-family: Averta;
  font-size: none;
  letter-spacing: 0;
  font-weight: 700;
  padding-bottom: 20px;
  margin: 0 auto;
}
@media screen and (max-width: 578.98px) {
  .content .list-1-box .text .tx-1 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 579px) and (max-width: 719.98px) {
  .content .list-1-box .text .tx-1 {
    font-size: 1.6em;
  }
}
.content .list-1-box .text .tx-2 {
  color: #ffffff;
  font-family: Averta;
  font-size: none;
  letter-spacing: 0;
  font-weight: 600;
  padding-bottom: 20px;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 578.98px) {
  .content .list-1-box .text .tx-2 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 579px) and (max-width: 719.98px) {
  .content .list-1-box .text .tx-2 {
    font-size: 1.4em;
  }
}
.content .list-1-box .text .tx-2:after,
.content .list-1-box .text .tx-2:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #bcbcbc;
}
.content .list-1-box .text .tx-2:after {
  margin-top: 30px;
}
.content .list-1-box .text .tx-2:before {
  margin-bottom: 30px;
}
.content .list-1-box .text .tx-3 {
  color: #55c8bb;
  font-family: Lobster;
  font-size: none;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0 auto;
}
@media screen and (min-width: 579px) and (max-width: 719.98px) {
  .content .list-1-box .text .tx-3 {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 578.98px) {
  .content .list-1-box .text .tx-3 {
    font-size: 1.6em;
  }
}
.content .list-2 {
  width: 100%;
}
.content .list-2-box {
  background-color: #454545;
  height: 100%;
  padding-bottom: 100px;
}
@media screen and (max-width: 578.98px) {
  .content .list-2-box {
    padding-bottom: 50px;
  }
}
.content .list-2 .imgf {
  width: auto;
}
@media screen and (max-width: 578.98px) {
  .content .list-2 .imgf {
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.content .list-2 .my-border-intro {
  color: #55c8bb;
  position: relative;
  font-size: 1.7em;
  margin-top: 15px;
}
.content .list-2 .my-border-intro:after,
.content .list-2 .my-border-intro:before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #55c8bb;
}
.content .list-2 .my-border-intro:after {
  transform: translate(68px, 13px);
}
.content .list-2 .my-border-intro:before {
  transform: translate(-68px, 13px);
}
.content .list-2 .description {
  color: #ffffff;
  font-family: Averta;
  font-size: 1.2em;
  letter-spacing: 0;
  font-weight: 400;
}
@media screen and (max-width: 578.98px) {
  .content .list-2 .description {
    font-size: 1em;
  }
}
@media screen and (min-width: 579px) and (max-width: 719.98px) {
  .content .list-2 .description {
    font-size: 1em;
  }
}
.content .list-2 .description p span {
  color: #55c8bb;
}
.content .list-2 .description .work-block {
  border-left: 1px solid #55c8bb;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.content .list-2 .description .width-block {
  height: 30px;
}
.content .list-2 .button-special {
  margin-top: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #000000;
  font-family: Averta;
  font-size: 0.8em;
  letter-spacing: 0;
  font-weight: 400;
  background-color: #55c8bb;
}
@media screen and (max-width: 578.98px) {
  .content .list-2 .button-special {
    color: #000000;
    font-family: Averta;
    font-size: 0.8em;
    letter-spacing: 0;
    font-weight: 400;
  }
}
@media screen and (min-width: 720px) and (max-width: 1199.9px) {
  .content .list-2 .button-special {
    color: #000000;
    font-family: Averta;
    font-size: 0.8em;
    letter-spacing: 0;
    font-weight: 400;
  }
}
@media screen and (min-width: 579px) and (max-width: 719.98px) {
  .content .list-2 .button-special {
    color: #000000;
    font-family: Averta;
    font-size: 0.8em;
    letter-spacing: 0;
    font-weight: 400;
  }
}
.content .list-2 .button-special:after {
  position: absolute;
  content: "";
  display: block;
  margin-top: 6px;
  margin-left: -25px;
  background-color: #000000;
  width: 0%;
  height: 4px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.content .list-2 .button-special:hover {
  cursor: pointer;
}
.content .list-2 .button-special:hover:after {
  width: 100%;
}
.content .list-2 .button-special i {
  color: #000000;
  margin-left: 10px;
}
.content .list-3 {
  background-color: #2b2b2b;
}
.content .list-3-box {
  padding-bottom: 70px;
  height: 100%;
}
.content .list-3-box .my-border-intro {
  margin: 0 auto;
  color: #55c8bb;
  position: relative;
  font-size: 1.7em;
  margin-top: 15px;
  margin-bottom: -10px;
}
.content .list-3-box .my-border-intro:after,
.content .list-3-box .my-border-intro:before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #55c8bb;
}
.content .list-3-box .my-border-intro:after {
  transform: translate(68px, 13px);
}
.content .list-3-box .my-border-intro:before {
  transform: translate(-68px, 13px);
}
.content .list-3-text .head-name {
  text-align: center;
  color: #ffffff;
  font-family: Averta;
  font-size: 1.4em;
  letter-spacing: 0;
  font-weight: 400;
}
.content .list-3-text .head-name .fa-female {
  margin-right: 10px;
}
.content .list-3-text .head-name i {
  font-size: 1.5em;
  color: #55c8bb;
}
.content .list-3-block {
  text-align: center;
  border-left: 1px solid #55c8bb;
}
.content .list-3-block .headline {
  color: #ffffff;
  font-family: Averta;
  font-size: 1.2em;
  letter-spacing: 0;
  font-weight: 700;
}
.content .list-3-block .nohead {
  color: #bcbcbc;
  font-family: Averta;
  font-size: 1.2em;
  letter-spacing: 0;
  font-weight: 400;
  font-style: italic;
}
.content .list-3-block:first-child {
  border: none;
}
@media screen and (max-width: 578.98px) {
  .content .list-3-block {
    border: none;
  }
}
@media screen and (min-width: 579px) and (max-width: 719.98px) {
  .content .list-3-block {
    border: none;
  }
}
.content .list-4 {
  background-color: #454545;
}
.content .list-4 .my-border-intro {
  color: #55c8bb;
  position: relative;
  font-size: 1.7em;
  margin-top: 15px;
}
.content .list-4 .my-border-intro:after,
.content .list-4 .my-border-intro:before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #55c8bb;
}
.content .list-4 .my-border-intro:after {
  transform: translate(68px, 13px);
}
.content .list-4 .my-border-intro:before {
  transform: translate(-68px, 13px);
}
.content .list-4-box {
  padding-bottom: 70px;
  height: 100%;
}
.content .list-4-box .reviews {
  margin-left: 20px;
  margin-right: 20px;
}
.content .list-4-box .reviews .review-block {
  margin-top: 80px;
  border-radius: 5px;
  background-color: #ffffff;
}
.content .list-4-box .reviews .review-block .imgf {
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.content .list-4-box .reviews .review-block:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 90px;
  width: 0;
  height: 0;
  border-top: 0.9em solid #ffffff;
  border-right: 0.9em solid transparent;
}
.content .list-4-box .reviews .review-block .seq {
  padding-left: 12px;
  padding-top: 8px;
  font-size: 1.3em;
  content: "";
  position: absolute;
  top: -9%;
  left: 10%;
  width: 45px;
  height: 45px;
  color: #ffffff;
  background: #55c8bb;
  border-radius: 50%;
}
.content .list-5 {
  background-color: #2b2b2b;
}
.content .list-5 .my-border-intro {
  color: #55c8bb;
  position: relative;
  font-size: 1.7em;
  margin-top: 15px;
}
.content .list-5 .my-border-intro:after,
.content .list-5 .my-border-intro:before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 1px;
  background-color: #55c8bb;
}
.content .list-5 .my-border-intro:after {
  transform: translate(68px, 13px);
}
.content .list-5 .my-border-intro:before {
  transform: translate(-68px, 13px);
}
.content .list-5-box {
  padding-bottom: 70px;
  height: 100%;
}
.content .list-5-block {
  text-align: center;
  border-left: 1px solid #55c8bb;
}
.content .list-5-block .headline {
  color: #ffffff;
  font-family: Averta;
  font-size: 1.3em;
  letter-spacing: 0;
  font-weight: 700;
}
.content .list-5-block .nohead {
  color: #55c8bb;
  font-family: Averta;
  font-size: 1.3em;
  letter-spacing: 0;
  font-weight: 400;
  font-style: italic;
}
.content .list-5-block .nohead a {
  color: #55c8bb;
}
.content .list-5-block:first-child {
  border: none;
}
@media screen and (max-width: 578.98px) {
  .content .list-5-block {
    border: none;
  }
}
.content .list-5 .contact-form {
  z-index: 9999;
  margin: 0 auto;
  max-width: 600px;
}
.content .list-5 .contact-form p {
  color: #55c8bb;
  font-family: Averta;
  font-size: 1.2em;
  letter-spacing: 0;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 578.98px) {
  .content .list-5 .contact-form {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.content .list-5 .contact-form .form-control {
  margin-bottom: 25px;
  border: 0px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: none;
}
.content .list-5 .contact-form .button-special {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #000000;
  font-family: Averta;
  font-size: 0.8em;
  letter-spacing: 0;
  font-weight: 400;
  background-color: #55c8bb;
}
@media screen and (max-width: 578.98px) {
  .content .list-5 .contact-form .button-special {
    color: #000000;
    font-family: Averta;
    font-size: 0.8em;
    letter-spacing: 0;
    font-weight: 400;
  }
}
@media screen and (min-width: 720px) and (max-width: 1199.9px) {
  .content .list-5 .contact-form .button-special {
    color: #000000;
    font-family: Averta;
    font-size: 0.8em;
    letter-spacing: 0;
    font-weight: 400;
  }
}
@media screen and (min-width: 579px) and (max-width: 719.98px) {
  .content .list-5 .contact-form .button-special {
    color: #000000;
    font-family: Averta;
    font-size: 0.8em;
    letter-spacing: 0;
    font-weight: 400;
  }
}
.content .list-5 .contact-form .button-special:after {
  position: absolute;
  content: "";
  display: block;
  margin-top: 6px;
  margin-left: -25px;
  background-color: #000000;
  width: 0%;
  height: 4px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.content .list-5 .contact-form .button-special:hover {
  cursor: pointer;
}
.content .list-5 .contact-form .button-special:hover:after {
  width: 100%;
}
.content .list-5 .contact-form .button-special i {
  color: #000000;
  margin-left: 10px;
}
.content .list-5 .contact-form .cap {
  margin-top: -15px;
  color: #bcbcbc;
  font-family: Averta;
  font-size: 0.8em;
  letter-spacing: 0;
  font-weight: 400;
  text-align: center;
}
.content .list-6 {
  background-image: url(../images/footerindex.min.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000000;
  position: relative;
}
.content .list-6-box {
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.5) 100%);
}
@media screen and (max-width: 578.98px) {
  .content .list-6-box {
    height: 100%;
  }
}
.content .list-6-box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
}
.content .list-6-box .text .tx-1 {
  color: #ffffff;
  font-family: Averta;
  font-size: none;
  letter-spacing: 0;
  font-weight: 700;
  padding-bottom: 20px;
  margin: 0 auto;
}
@media screen and (max-width: 578.98px) {
  .content .list-6-box .text .tx-1 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 579px) and (max-width: 719.98px) {
  .content .list-6-box .text .tx-1 {
    font-size: 1.6em;
  }
}
.content .list-6-box .text .tx-2 {
  color: #ffffff;
  font-family: Averta;
  font-size: none;
  letter-spacing: 0;
  font-weight: 600;
  padding-bottom: 20px;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 578.98px) {
  .content .list-6-box .text .tx-2 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 579px) and (max-width: 719.98px) {
  .content .list-6-box .text .tx-2 {
    font-size: 1.4em;
  }
}
.content .list-6-box .text .tx-2:after,
.content .list-6-box .text .tx-2:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #bcbcbc;
}
.content .list-6-box .text .tx-2:after {
  margin-top: 30px;
}
.content .list-6-box .text .tx-2:before {
  margin-bottom: 30px;
}
.content .list-6-box .text .tx-3 {
  color: #55c8bb;
  font-family: Lobster;
  font-size: none;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0 auto;
}
@media screen and (max-width: 578.98px) {
  .content .list-6-box .text .tx-3 {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 579px) and (max-width: 719.98px) {
  .content .list-6-box .text .tx-3 {
    font-size: 1.6em;
  }
}
.back {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99999;
}
.back .button-back {
  background-color: #55c8bb;
  color: #ffffff;
  font-size: 1.3em;
  opacity: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
}
#none-block {
  height: 3px;
  display: none;
}
.grecaptcha-badge {
  display: none;
}
@font-face {
  font-family: "Lobster";
  src: url(../fonts/Lobster.woff2) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Averta";
  src: url(../fonts/AvertaCY-Regular.woff2) format("truetype");
  font-style: normal;
  font-weight: normal;
}
